.title{
    font-family: Tahoma;
    justify-content: center;
    top: 8px;
    font-weight: bold;
    text-align: center;

}

.comment{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-style: sans-serif italic;
    font-size: 10;
    bottom: 8px;
    text-align: center;
}

.FlexItem{
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8), 5px 5px 10px rgba(0,0,0, 0.5);
    transition: 0.5s;
    cursor: pointer;
    width: 200px;
    background-color: white;
    padding-left: 12px;
    padding-right: 12px;
    padding: 8px;
    margin: 8px;   
}

.navigationBar{
    font-size: 20px;
    font-weight: bolder;
    justify-content: space-between;
    width: 150px;
    color: black;
    font-family: Tahoma;
    text-align: center;
    text-decoration: none;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8), 5px 5px 10px rgba(0,0,0, 0.2);
    
}

.navigationBar:hover {
    background-color: lightgray;
}

.smallDivForCheckBox{
    display: flex;
}

.checked{
    width: 20px;
    height: 20px;  
    cursor: pointer;  
}

.slideShowBtn{

    font-size: 20px;
    font-weight: bolder;
    justify-content: space-between;
    width: 150px;
    color: black;
    font-family: Tahoma;
    text-align: center;
    text-decoration: none;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8), 5px 5px 10px rgba(0,0,0, 0.2)    

}

.editBtn {

    position:relative;
    display: flex;
    height: 20px;
    width: 38px;
    color: black;
    border-radius: 3px;
    border-color: black;
    font-size: 12px;
    font-family: Tahoma;
    cursor:pointer;
    top: 50%;
    left: 40%;   
    text-align: center;
}

.smallDivForEditBtn{
    display: flex;
}






