
.FlexWrap{

    background-color: white;
	  font-family: 'Oswald', sans-serif;
    height: 100%;
    width: 100%;
    margin-left: 0px;
    margin-top: 60px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;          /* test with wrap nowrap */
    align-items: center;      /* alignment along cross axis - center flex-start flex-end */
    justify-content:space-evenly;  /* alignment along main axis - center flex-start flex-end space-evenly space-between space-around */
    padding-left: 18px;
}


.DisplayedSlideShow{    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 70vw;  
}

img{
    flex-shrink: 0;  
    min-width: 100%;  
    min-height: 80%;
    object-fit: contain;        

  }
     
  .Title{  
    display: flex;  
    justify-content: center;  
    color: black;  
    font-weight: bold; 
    font-size: 20px;  
    font-style:normal;
  
  }
      
  .Comment{  
    margin: auto;  
    display: block;  
    width: 100%;  
    max-width: 700px;  
    text-align: center;  
    color: black;  
    padding: 10px 0;  
    height: 200px;  
    overflow-wrap: break-word;  
    font-style: italic;  
    font-size: 14px;  
    flex-wrap: wrap;
  }
  
  .prev, .next {  
    cursor: pointer;  
    width: auto;  
    margin-top: -22px;  
    padding: 10px;  
    color: black;  
    font-weight: bold;  
    font-size: 40px;  
  }